:root {
  --bg-color: #091E42;
  --bg-color-secondary: #172B4D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  font-family: $base-font !important;
}

html, body {
  background-color: var(--bg-color);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

button, a {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
